#embedded-help-add-tag-form{
  display:none;
}

form.embedded-help .form-item:before{
  content:'';
}

#edit-help-tag-submit{
  display:none;
}

.embedded-help-insert, .embedded-help-show-links{
  color:#ddd;
  font-style: italic;
  font-size:9px;
  display:none;
}

.embedded-help-insert:hover, .embedded-help-show-links:hover{
  cursor:pointer;
  color:#aaa;
}

.embedded-help-show-links{
  display:block;
  text-align:right;
}

.embedded-help-tag{
  background:#fafafa;
  border:1px solid #eee;
  display: block;
  padding:5px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  position:relative;
}

.embedded-help-hidden{
  display:none !important;
}

.embedded-help-tag-title{
  padding-left:40px;
  font-weight:bold;
}

.embedded-help-tag-text{
  padding-left:40px;
  color:#333;
}

.embedded-help-message-type-help{
  background-image: url(../images/message-16-help.png);
}

.embedded-help-message-type-info{
  background-image: url(../images/message-16-info.png);
}

.embedded-help-message-type-warning{
  background-color:#FFFCE5;
  background-image: url(../images/message-16-warning.png);
  border-color:#EEDD55;
}

.embedded-help-display-style-icon{
  padding:5px;
  width:20px;
  height:20px;
  background-color:transparent;
  overflow:hidden;
  border:none;
  cursor:pointer;
  float:right;
  margin-top:-2px;
}

.embedded-help-display-style-icon-open{
  cursor:pointer;
}

.embedded-help-display-style-teaser{
  max-height: 60px;
  overflow: hidden;
}

.embedded-help-display-style-teaser-expanded{
  max-height:none;
}

.embedded-help-display-style-full{
}

.embedded-help-more-button{
  position:absolute;
  bottom:0px;
  right:0px;
  font-size:9px;
  line-height:11px;
  background:#eaeaea;
  border:1px solid #eee;
  border-radius: 5px 0 0;
  -moz-border-radius: 5px 0 0;
  -webkit-border-radius: 5px 0 0;
  -o-border-radius: 5px 0 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -o-box-sizing:border-box;
  padding:3px;
  z-index:1;
  cursor:pointer;
}


div[aria-labelledby='ui-dialog-title-embedded-help-dialog'] .ui-dialog-titlebar {
  background:#000;
  color:#fff;
}

div[aria-labelledby='ui-dialog-title-embedded-help-dialog'] input[type='text'],
div[aria-labelledby='ui-dialog-title-embedded-help-dialog'] select,
div[aria-labelledby='ui-dialog-title-embedded-help-dialog'] textarea,
div[aria-labelledby='ui-dialog-title-embedded-help-dialog'] > div
{
  width:98%;
}